html, body{
    overflow-x: hidden;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #616971;
}

svg{
    width: 100%;
    height: 100%;
}
/* Nav Bar */
.navbar{
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
}
.header .navbar{
    background-color: transparent !important;
}
.nav-item{
    padding: .5rem;
}
.nav-link.active{
    color: #900d0d!important;
    font-weight: 800;
}
.nav-link:hover{
    color: #cd0a0a!important;
}

/* Main Banner  */

.fixed{
    position: fixed;
}

.fixed-background{
    padding: 16rem 0;
}
.banner-text{
    color: #2b2b28;
}
.banner-text button{
    background: #a20a0a;
    border: none;
}
.banner-text button:hover{
    background-color: #cf1b1b;
}
/* Experience*/
.experience{
    background-color: #2b2b28;
}
.experience-section__2{
    padding: 6rem 0;
}
.experience-img__1,
.experience-img__2{
    border-radius: 1rem;
}
.experience-section__2 img{
    width: 20rem;
    border-radius: 2.4rem;
    clip-path: circle(67.5% at 73% 38%);
}

.experience-text ul{
    list-style: none;
    padding: 5rem 0 3rem 0;
}
.skills-img{
    border-radius: 1rem;
}
/* Gallery */

.gallery img{
    border-radius: 2.4rem;
    clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
}
.gallery-img__6{
    padding: 0;
    border: #2b2b28 .2rem solid;
    border-radius: .3rem!important;
    clip-path: none!important;
}
/* sobre mi */
.aboutme{
    background-color: #2b2b28;
}
/* Carrousel */
#carousel{
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}
.carousel-inner{
    max-height: 40rem!important;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active{
    transition: transform 1.3s ease;
}
.carousel-caption{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}
.bg-custom{
    background-color: rgba(0, 0, 0, .4);
    color: white;
    border-radius: 1rem;
}
.bg-custom p{
    font-size: 2rem;
}
.carousel-caption h1{
    font-size: 2.6rem;
    text-transform: uppercase;
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, .1);
}
.carousel-caption h3{
    font-size: 1.5rem;
}
.border-primary{
    border-top: .2rem solid #4da8da;
}
.btn-success{
    display: block;
}
.spotify{
    display: block;
}

/* footer */
footer{
    background-color: #530303;
    padding: 1rem 2rem 3rem;
}
footer img{
    height: 3.5rem;
    margin: 1.5rem
}
footer p, footer a,
.socket a{
    color: white;
}
ul.social{
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
    padding: 0;
}
ul.social li{
    margin: 0 auto;
}
footer .svg-inline--fa{
    font-size: 2.3rem;
    transition: 0.3s ease;
}
footer .svg-inline--fa:hover{
    color: #cf1b1b;
}
.socket{
    background-color: #471010;
    border-top: .1rem solid #616971;
}
.socket p a{
    text-decoration: none;
    transition: 0.3s ease;
}
.socket p a:hover{
    color: #cf1b1b;
}

/* back to top btn */
#scroll{
    position: fixed;
    right: 1.6rem;
    bottom: 2rem;
    cursor: pointer;
    width: 2.4rem;
    height: 3.6rem;
    background-color: #cf1b1b;
    text-indent: -9999px;
    display: none;
    border-radius: 60px;
}
#scroll span{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}
#scroll:hover{
    background-color: #a20a0a;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha (opacity=100)";
}


/* ----------MEDIA QUERY--------------- */
/* Devices under 768px (md) */
@media (max-width: 767.98px){
    .experience-section__item{
        padding: 3rem auto;
    }
    .experience-section__2{
        padding: 4rem 0;
    }
    .experience-section__2 img{
        width: 22rem;
        clip-path: none;
        padding: 0 auto;
    }
}
/* Devices under 425px (sm) */
@media (max-width: 424.98px){
    .experience-section__2 img{
        width: 15rem;
    }
}
/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  
  /*-- Fixed Background Image --*/
  .fixed-background {
    position: relative;
    width: 100%;
    z-index: 1000!important;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
  }
  .fixed {
    z-index: -999!important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
  }